<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>主要内容区main</title>
    <script type="text/javascript" src="__PUBLIC__/Admin/js/jquery-1.11.3.js"></script>
    <script type="text/javascript" src="__PUBLIC__/Admin/js/layer/layer.js"></script>
    <link href="__PUBLIC__/Admin/css/css.css" type="text/css" rel="stylesheet"/>
    <link href="__PUBLIC__/Admin/css/main.css" type="text/css" rel="stylesheet"/>
    <link href="__PUBLIC__/Admin/css/mainselect.css" type="text/css" rel="stylesheet"/>
    <link href="__PUBLIC__/Admin/css/page.css" type="text/css" rel="stylesheet"/>

    <div id="divid" style="display: none;" align="center">
        <table  align="center" style="text-align: center">
            <form method="post" action="__URL__/addUser" onsubmit="return checkSubmit()" id="formid">
                <tr>
                    <td align="right">账号：</td>
                    <td><input type="text" name="username" id="username" />

                </tr>
                <tr>
                    <td>&nbsp;</td>
                    <td><span id="user" style="color: red"></span></td>
                </tr>
                <tr>
                    <td align="right">密码：</td>
                    <td><input type="password" name="pwd" id="pwd"/></td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                    <td><span id="spwd" style="color: red"></span></td>
                </tr>
                <tr>
                    <td align="right">重复密码：</td>
                    <td><input type="password" name="repwd" id="repwd"/></td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                    <td><span id="srepwd" style="color: red"></span></td>
                </tr>
                <tr>
                    <td align="right">姓名：</td>
                    <td><input type="text" name="name" id="name"/></td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                    <td><span style="color: red" id="sname" ></span></td>
                </tr>
                <tr>
                    <td align="right">性别:</td>
                    <td><input type="radio" name="sex" value="1" checked/>男
                        <input type="radio" name="sex" value="0"/>女</td>
                </tr>
                <tr>
                    <td align="right">联系方式：</td>
                    <td><input type="text" name="tel" id="tel"/></td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                    <td><span id="stel" style="color: red" class="onsub"></span></td>
                </tr>

                <tr>
                    <td>&nbsp;</td>
                    <td>身份：<select name="roleid">
                        <foreach name="result" item="vv">
                            <option value="{$vv.roleid}">{$vv.rolename}</option>
                        </foreach>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                    <td><input type="submit" value="提交"/>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="reset" value="重置"/></td>
                </tr>

            </form>
        </table>
    </div>

</head>
<body>
<!--main_top-->
<table width="99%" border="0" cellspacing="0" cellpadding="0" id="searchmain">
    <tr>
        <td width="99%" align="left" valign="top">您的位置：用户管理</td>
    </tr>
    <tr>
        <td align="left" valign="top">
            <table width="100%" border="0" cellspacing="0" cellpadding="0" id="search">
                <tr>
                    <td width="90%" align="left" valign="middle">
                        <form method="post" action="__URL__/pageUser">
                            <span>管理员：</span>
                            <input type="text" name="userInformation" value="" class="text-word">
                            <input name="" type="submit" value="查询" class="text-but"><span>按姓名查找</span>
                        </form>
                    </td>
                    <td width="10%" align="center" valign="middle" style="text-align:right; width:150px;"><a href="#" id="addUser" onFocus="this.blur()" class="add">新增管理员</a></td>

                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td align="left" valign="top">
            <table width="100%" border="0" cellspacing="0" cellpadding="0" id="main-tab">
                <tr>
                    <th align="center" valign="middle" class="borderright">编号</th>
                    <th align="center" valign="middle" class="borderright">账号</th>
                    <th align="center" valign="middle" class="borderright">密码</th>
                    <th align="center" valign="middle" class="borderright">姓名</th>
                    <th align="center" valign="middle" class="borderright">性别</th>
                    <th align="center" valign="middle" class="borderright">联系方式</th>
                    <th align="center" valign="middle" class="borderright">权限</th>
                    <th align="center" valign="middle" class="borderright">状态</th>
                    <th align="center" valign="middle" class="borderright">创建时间</th>
                    <th align="center" valign="middle">操作</th>
                </tr>
                <volist name="res" id="row">
                    <tr onMouseOut="this.style.backgroundColor='#ffffff'" onMouseOver="this.style.backgroundColor='#edf5ff'">
                        <td align='center' valign='middle' class='borderright'>{$row['id']}</td>
                        <td align='center' valign='middle' class='borderright'>{$row['username']}</td>
                        <td align='center' valign='middle' class='borderright'>{$row['password']}</td>
                        <td align='center' valign='middle' class='borderright'>{$row['name']}</td>
                        <td align='center' valign='middle' class='borderright'>{$row['sex']==0?$sex[0]:$sex[1]}</td>
                        <td align='center' valign='middle' class='borderright'>{$row['tel']}</td>
                        <td align='center' valign='middle' class='borderright'>
                            <foreach name="result" item="vov">
                                <if condition="$vov['roleid'] eq $row['roleid']">
                                    {$vov.rolename}
                                </if>
                            </foreach>
                        </td>
                        <td align='center' valign='middle' class='borderright'>
                            <if condition="$row['state'] eq 1">
                                无限制
                            </if>
                            <if condition="$row['state'] eq 2">
                                禁止
                            </if>
                        </td>
                        <td align='center' valign='middle' class='borderright'>{$row['addtime']}</td>
                        <td align="center" valign="middle" class="borderbottom">
                            <span class="gray"></span><a href="__URL__/delUser?id={$row['id']}">删除</a>
                            <span class="gray"></span><a href="__URL__/mdfUser?id={$row['id']}">修改</a>
                        </td>
                    </tr>
                </volist>
            </table>
        </td>
    </tr>
    <tr>
        <td class="Pagination">{$page}</td>

    </tr>
</table>
</body>
<script>
    /*
     * 增加管理员表单验证
     * */
    $('#username').blur(function () {
        var text = /^[a-zA-Z][a-zA-Z0-9_]{5,20}$/;
        if(!text.test($('#username').val())){
            $('#user').html('请输入6-12且字母开头');
        }else{
            var buser = $('#username').val();
            $.post("__URL__/inpectUser",{buser:buser},function(data){
                if(data==1){
                    $('#user').html('该用户已存在');
                }
            },'json');

        }
    });
    $('#username').focus(function () {
        $('#user').html('');
    });
    $('#pwd').blur(function () {

        var password = $('#pwd').val();
        var pwdlen = password.length;
        if (pwdlen<6 || pwdlen>=20) {$('#spwd').html('密码必须在6~20之间');}
        if (password.indexOf(' ')>-1){
            $('#spwd').html('密码不允许出现空格');
        }
    });
    $('#pwd').focus(function () {
        $('#spwd').html('');
    });
    $('#repwd').blur(function () {
        var pwdstr=$('#pwd').val();
        var repwdstr=$('#repwd').val();
        if(pwdstr!=repwdstr){
            $('#srepwd').html('两次密码必须相等');
        }
    });
    $('#repwd').focus(function () {
        $('#srepwd').html('');
    });

    $('#name').blur(function(){
        var textname= $('#name').val();
        if(textname==''){
            $('#sname').html('真实姓名不能为空');
        }
    });
    $('#name').focus(function () {
        $('#sname').html('');
    });
    $('#tel').blur(function () {
        var telphone=/^(((13[0-9]{1})|(15[0-9]{1})|(18[0-9]{1})|17[0-9]{1})+\d{8})$/;
        if(!telphone.test($('#tel').val())){
            $('#stel').html('请输入正确的手机号码');
        }
    });
    $('#tel').focus(function () {
        $('#stel').html('');
    });
    //利用插件调出弹框
    $("#addUser").click(function () {

        layer.open({
            type: 1,
            skin: 'layui-layer-rim',            //加上边框
            area: ['500px', '380px'],
            content: $('#divid')
        })
    });


    function checkSubmit(){
        var text = /^[a-zA-Z][a-zA-Z0-9_]{5,20}$/;
        if(!text.test($('#username').val())){
            $('#user').html('用户名格式错误');
        }
        var password = $('#pwd').val();
        var pwdlen = password.length;
        if (pwdlen<6 || pwdlen>=20) {$('#spwd').html('密码必须在6~20之间');}

        var pwdstr=$('#pwd').val();
        var repwdstr=$('#repwd').val();
        if(pwdstr!=repwdstr){
            $('#srepwd').html('两次密码必须相等');
        }

        var textname= $('#name').val();
        if(textname==''){
            $('#sname').html('真实姓名不能为空');
        }
        var telphone=/^(((13[0-9]{1})|(15[0-9]{1})|(18[0-9]{1})|17[0-9]{1})+\d{8})$/;
        if(!telphone.test($('#tel').val())){
            $('#stel').html('请输入正确的手机号码');
        }
        var errorLength= new Array($('#user').text().length,
                $('#spwd').text().length,
                $('#srepwd').text().length,
                $('#sname').text().length,
                $('#stel').text().length
        );
        var count=0;
        for(var i=0;i<errorLength.length;i++){
            count=count+errorLength[i];
        }
        if(count>0){
            return false;
        }
    }
</script>
</html>