body {
    word-wrap: normal;
    padding: 0;
}

.vip_pay_header {
    margin: 0 auto;
}

.pay-wrap {
    width: 960px;
    margin: 0 auto;
}

#footer {
    clear: both;
}

#footer, #footer .copyright {
    margin-top: 0;
    border: none;
}

.purple {
    color: #7A4CAA;
}

.my-info {
    padding: 20px 0;
}

.my-info .name {
    font-size: 14px;
    font-weight: bold;
    float: left;
}

.pic-box {
    width: 50px;
    height: 50px;
    float: left;
    margin-right: 10px;
    display: inline;
}

.vip_pay_info {
    float: left;
    width: 90%;
}

.info .sayHello {
    float: left;
    font-size: 14px;
    font-weight: bold;
    color: #a5a4a4;
}

.info .cash-msg {
    *margin-top: 7px;
    padding-top: 7px;
    *padding-top: 0px;
    color: #808080;
    clear: left;
}

.info .info-msg {
    float: left;
    font-size: 14px;
    font-weight: bold;
    margin-left: 10px;
}

.info .cash-msg a {
    margin-left: 15px;
}

.info img {
    padding-left: 10px;
}

.back {
    float: right;
    display: block;
    margin-top: 30px;
}

.dsy-sign {
    display: block;
    float: left;
    background: url(../../imgpro/pay/disney_icon.gif) no-repeat;
    width: 16px;
    height: 16px;
    margin-left: 3px;
    position: relative;
    top: -2px;
}

.dsy-sign-off {
    display: block;
    float: left;
    background: url(../../imgpro/pay/disney_icon.gif) 0px -34px no-repeat;
    width: 16px;
    height: 16px;
    margin-top: -2px;
    margin-left: 3px;
}

.vip-sign {
    background: transparent url(../../imgpro/global/vip-on-v3.gif) no-repeat scroll 0 0;
}

.vip-sign-off {
    background: url(../../imgpro/global/vip-off-v3.gif) 0 0 no-repeat;
}

.vip-sign, .vip-sign-off {
    display: inline-block;
    position: relative;
    float: left;
    width: 40px;
    height: 16px;
    margin: 0 5px;
}

.vip-sign em, .vip-sign-off em {
    position: absolute;
    right: 0;
    top: 0;
    width: 16px;
    height: 16px;
    line-height: 17px;
    text-align: center;
    font-family: 'Arial', Verdana, sans-serif, simsun;
    font-size: 10px;
    font-weight: bolder;
}

.vip-sign-off em {
    color: #000;
}

#topTip {
    position: relative;
}

.top-tip {
    background: url(../images/vip/small.png) no-repeat 0 -217px;
    height: 25px;
    padding-left: 5px;
    width: 307px;
    display: inline-block;
    position: relative;
    float: left;
    margin-top: -7px;
}

.top-tip span {
    background-color: #FFF9D7;
    border: 1px solid #D7B013;
    height: 22px;
    line-height: 22px;
    padding-left: 5px;
    border-left: none;
    display: block;
}

.top-tip a {
    position: absolute;
    width: 9px;
    height: 9px;
    background: url(../images/vip/small.png) no-repeat 0 -368px;
    overflow: hidden;
    text-indent: -9999px;
    top: 8px;
    right: 6px;
}

.top-tip em {
    color: #E4494A;
}

.main-tab {
    padding-left: 10px;
    float: left;
}

.main-tab li {
    float: left;
    background: url(../images/vip/small.png) no-repeat 0 -135px;
    padding-left: 5px;
    height: 28px;
    line-height: 28px;
    margin: 0 4px -1px 0;
    display: inline;
    position: relative;
    font-size: 14px;
}

.main-tab li a {
    display: block;
    background: url(../images/vip/small.png) no-repeat 100% -135px;
    padding: 0 20px 0 15px;
    outline: none;
}

.main-tab li a {
    blr: expression(this.onFocus=this.blur());
}

.main-tab .current {
    background-position: 0 -96px;
}

.main-tab .current a:link, .main-tab .current a:visited, .main-tab .current a:hover, .main-tab .current a:active {
    background-position: 100% -96px;
    color: #333333;
}

.main-type-div {
    margin-left: 5px;
    float: right;
    position: relative;
}

.main-type-div .disney {
    background: url(../../imgpro/pay/disney_icon.gif) 0px 1px no-repeat;
    display: inline-block;
    padding-left: 20px;
    height: 20px;
    margin-right: 25px;
}

.main-type-div .disney_gray {
    background: url(../../imgpro/pay/disney_icon.gif) no-repeat scroll 0 -32px transparent;
    display: inline-block;
    padding-left: 20px;
    height: 20px;
    margin-right: 25px;
}

.main-type-div .vip {
    background: url(../../imgpro/pay/vip_icon.gif) 5px 4px no-repeat;
    display: inline-block;
    padding-left: 20px;
    height: 20px;
    margin-right: 25px;
}

.main-type-div .vip_gray {
    background: url(../../imgpro/pay/vip_icon.gif) 5px 4px no-repeat;
    display: inline-block;
    padding-left: 20px;
    height: 20px;
    margin-right: 25px;
}

.main-type-div .gift {
    background: url(http://a.xnimg.cn/xnapp/giftpro/img/giftmember.gif) 1px 0 no-repeat;
    display: inline-block;
    padding-left: 20px;
    height: 20px;
    margin-right: 25px;
}

.main-type-div .gift_gray {
    background: url(http://a.xnimg.cn/xnapp/giftpro/img/giftmember_gray.gif) 1px 0 no-repeat;
    display: inline-block;
    padding-left: 20px;
    height: 20px;
    margin-right: 25px;
}

.main-type-div .vip a, .main-type-div .vip_gray a, .main-type-div .disney a, .main-type-div .disney_gray a, .main-type-div .gift a, .main-type-div .gift_gray a {
    height: 20px;
    line-height: 20px;
    vertical-align: middle;
}

.main-type-div .vip a {
    font-family: 'simsun';
    vertical-align: baseline;
}

.main-tab-div {
    position: relative;
    border-bottom: 1px solid #D1C4EF;
}

.main-tab-div-disney {
    border-bottom: 1px solid #7D9FE6;
}

.main-tab-div-present {
}

.main-tab-r {
    line-height: 20px;
    margin-top: 5px;
}

.main-tab-div .main-tab-r span {
    background: url(../../imgpro/pay/disney_icon.gif) 0px 1px no-repeat;
    display: inline-block;
    padding-left: 20px;
    height: 20px;
    margin-right: 25px;
}

.main-tab-div .main-tab-r label input {
    vertical-align: middle;
}

.main-pay {
    padding: 10px;
    background-color: #F0F5F8;
    padding-left: 0px;
    _padding-right: 7px;
    border-bottom: 1px solid #B8D4E8;
    float: left;
}

.side-bar {
    float: left;
    width: 149px;
    height: 800px;
    position: relative;
    margin-right: -1px;
    display: inline;
}

.side-nav {
    padding-top: 15px;
}

.recommend {
    color: #ff6633;
}

.recommend-tip {
    margin-left: 5px;
}

.present-threeMonth {
    color: red;
}

#selectMonth .selected {
    font-weight: bold;
}

.side-nav li {
    height: 32px;
    line-height: 32px;
    border-bottom: 1px solid #E3EEF8;
    margin-right: 1px;
}

.side-nav li a {
    display: block;
    margin-left: 14px;
    padding-left: 18px;
    outline: none;
}

.side-nav li a {
    blr: expression(this.onFocus=this.blur());
}

.side-nav .current {
    height: 33px;
    line-height: 33px;
    border: none;
    background: #fff url(../images/vip/small.png) no-repeat 0 -171px;
    margin: 0;
}

.side-nav .current a:link, .side-nav .current a:visited, .side-nav .current a:hover, .side-nav .current a:active {
    border-top: 1px solid #005EAC;
    border-bottom: 1px solid #005EAC;
    height: 31px;
    font-weight: bold;
    color: #333333;
    overflow: hidden;
}

.side-bar .contact {
    padding-left: 10px;
    position: absolute;
    bottom: 15px;
    line-height: 1.8;
    color: #666;
}

.side-bar .contact h4 {
    font-weight: normal;
    border-bottom: 1px solid #DDDDDD;
}

.side-bar .contact li {
    padding-left: 15px;
    background: url(../images/vip/small.png) no-repeat 0 0;
}

.side-bar .contact .online {
    background-position: 0 -57px;
    height: 17px;
    overflow: hidden;
    padding-top: 5px;
}

.side-bar .contact .mail {
    background-position: 0 7px;
}

.side-bar .contact .phone {
    background-position: 0 -26px;
}

.side-bar .contact p {
    color: #888;
}

.operate {
    padding: 20px 20px 0 20px;
    border: 1px solid #005EAC;
    float: left;
    width: 760px;
    height: 780px;
    background-color: #fff;
    display: inline;
}

.msg-tip {
    background-color: #ffffcc;
    color: #333;
    padding: 3px 8px;
    position: relative;
    border: 1px solid #E2C822;
}

.msg-tip h4, .msg-tip ul {
    float: left;
    font-weight: normal;
    line-height: 1.6;
}

.msg-tip a {
    position: absolute;
    top: 5px;
    right: 17px;
}

.frame-box {
    zoom: 1;
}

.to_user_tip {
    background-color: #FFFFCC;
    color: #333333;
    padding: 7px 6px;
    position: relative;
    border: 1px solid #E2C822;
}

.to_user_tip h4 {
    padding: 0 0 0 5px;
    font-weight: normal;
}

.to_user_tip a.close_tip {
    -webkit-text-size-adjust: none;
    position: absolute;
    top: 0px;
    right: 0px;
    text-decoration: none;
    display: block;
    padding: 4px;
    height: 10px;
    width: 10px;
    line-height: 10px;
    z-index: 10;
}

.to_user_tip .close_tip:hover {
    color: #111;
    background: #fff;
    text-decoration: none;
}

.to_user_tip .user_tip_item {
    position: relative;
    margin: 5px;
}

.to_user_tip .user_tip_item p {
    line-height: 1.5;
}

.to_user_tip .tip_to_details {
    position: absolute;
    bottom: 0px;
    right: 3px;
}

#tip-czk {
    width: 370px;
    color: red;
    border: 1px solid #E2C822;
}

.form-box {
    padding-top: 9px;
}

.msg-bank {
    padding: 20px 0 20px 54px;
    border-bottom: 1px solid #DDDDDD;
}

.msg-bank h3 {
    height: 30px;
    line-height: 30px;
    font-size: 14px;
    font-weight: bold;
    padding-right: 73px;
    background: url(../images/vip/pay_way.png) no-repeat -200px 0;
}

.msg-bank h3 em {
    color: #E40909;
    font-weight: bold;
}

.msg-bank ul {
    margin-top: 5px;
}

.msg-bank li {
    float: left;
    text-align: center;
    height: 25px;
    padding: 0 14px 0 0 !important;
    *padding: 0 8px 0 0 !important;
    *padding: 0 8px 0 0;
    background: url(../images/vip/small.png) no-repeat 100% -286px;
}

.msg-bank li span {
    display: inline-block;
    height: 23px;
    line-height: 23px;
    background-color: #F8F8F8;
    border-top: 1px solid #CDCECF;
    border-bottom: 1px solid #CDCECF;
    color: #888888;
    padding: 0 8px 0 10px;
}

.msg-bank .current {
    background-position: 100% -252px;
}

.msg-bank .current span {
    background-color: #E6DFF9;
    border: 1px solid #C7BAEC;
    border-right: none;
    color: #524EA8;
}

.msg-bank .last {
    background: none;
    padding-right: 0px;
}

.msg-bank .last span {
    border-right: 1px solid #CDCECF;
    padding-right: 20px;
}

.btn-box {
    background-color: #7B59B2;
    border: 1px solid #6A3D99;
    text-align: center;
}

.btn-box a {
    display: block;
    border-top: 1px solid #B692DB;
    border-left: 1px solid #B692DB;
    background: url(../images/vip/small.png) no-repeat 0 -340px;
}

.btn-box a:link, .btn-box a:active, .btn-box a:hover, .btn-box a:visited {
    color: #fff;
    text-decoration: none;
}

.msg-bank .net-bank {
    background-position: 270px 0;
}

.wy-box {
    padding-left: 55px;
}

.wy-box label, .gh-box label {
    display: block;
    color: #808080;
}

.sel-time input, .main-bank input, .sel-mso input {
    margin-right: 5px;
}

.form-box .select {
    font-weight: bold;
}

#mon-other-lable {
    position: relative;
    width: 300px;
}

.number-box {
    background: none repeat scroll 0 0 #EAF3FB;
    border: 1px solid #9bbbe4;
    font-weight: normal;
    height: 32px;
    left: 52px;
    _left: 59px;
    padding: 5px;
    position: absolute;
    text-align: center;
    top: 17px;
    width: 130px;
    display: none;
}

.number-box ul li {
    float: left;
}

.number-box ul li a {
    display: block;
    width: 21px;
    height: 15px;
}

.sel-friend .pay-lbl {
    display: inline-block;
    width: 104px;
    text-align: right;
    color: #808080;
    font-weight: bold;
}

.sel-friend {
    margin-bottom: 20px;
}

.form-box h4 {
    float: left;
    text-align: right;
    color: #808080;
}

.sel-bank h4 {
    height: 24px;
}

.wy-box .btn-box-s, .gh-box .btn-box-s {
    margin: 10px 0 0 104px;
}

.sel-time label, .sel-mso label {
    padding-bottom: 15px;
    _padding-bottom: 9px;
    height: 15px;
    font-weight: normal;
    color: #333333;
    width: 300px;
    display: block;
}

#mon-other-input {
    width: 25px;
    margin-left: 4px;
    text-align: center;
    border: #c3c4c4 solid 1px;
}

.msg-bank .dx-mobile {
    background-position: 320px -58px;
}

.msg-bank .lt-mobile {
    background: url(../../imgpro/pay/logo_liantong.jpg) 330px 2px no-repeat;
}

.dx-box, .gh-box {
    padding-left: 55px;
    padding-bottom: 20px;
}

.dx-box p {
    padding: 10px 0 15px 0;
}

.dx-box p label {
    display: inline-block;
    width: 92px;
    text-align: right;
    color: #808080;
    cursor: default;
}

.dx-box p em {
    color: #7A4CAA;
}

.dx-box p span {
    color: #888;
    padding-left: 5px;
}

.dx-box .btn-box-s {
    margin: 10px 0 0 92px
}

.dx-box .in-num {
    padding: 3px 2px;
    width: 20px;
    border: 1px solid #B8D4E8;
}

.msg-bank .eb-mobile {
    background-position: 335px -210px;
}

.main-bank {
    width: 480px;
}

.main-bank label {
    width: 145px;
    float: left;
    margin: 0 8px 10px 0;
    display: inline;
}

.main-bank .memory-bank {
    width: 430px;
    height: 20px;
    padding-bottom: 6px;
    border-bottom: 1px dashed #DDDDDD;
    margin-bottom: 6px;
}

.main-bank .memory-bank label {
    margin: 0
}

.other-bank-box {
    padding-left: 65px;
}

.other-bank-box a {
    font-weight: normal;
    line-height: 2;
}

.bank-other {
    padding: 12px 12px 4px 14px;
    border: 1px solid #E7E7E7;
    *padding-bottom: 14px;
}

.bank-other label {
    float: left;
    width: 129px;
    font-weight: normal;
    height: 15px;
    margin-bottom: 9px;
    _margin-bottom: 5px;
    display: inline;
    color: #333333;
}

.qs-box {
    padding-bottom: 40px;
}

.qs-box .btn-box-s {
    margin: 30px 0 0 170px
}

.qs-box .sel-friend label, .qs-box p label, .qs-box h4 {
    width: 170px;
    text-align: right;
    display: inline-block;
    color: #808080;
    cursor: default;
}

.qs-box .num-short, .qs-box .num-long {
    border: 1px solid #7F9DB9;
    height: 14px;
    padding: 2px;
}

.qs-box .num-short {
    width: 78px;
}

.qs-box .num-long {
    width: 158px;
}

.qs-box p span {
    padding-left: 12px;
    color: #808080;
}

.gh-box .check-xf {
    font-weight: normal;
    color: #333333;
    margin: 12px 0;
    width: 80px;
}

.check-msg {
    color: #888888;
    padding-left: 18px;
}

.czk-box .sel-time label {
    width: 340px;
}

.czk-box .btn-box-s {
    margin: 10px 0 0 170px
}

.czk-box .sel-friend .pay-lbl, .czk-box h4 {
    width: 170px;
    text-align: right;
    font-weight: bold;
}

.czk-box .input-msg {
    padding: 18px 40px 10px 30px;
    background-color: #F0F5F8;
    width: 338px;
}

.czk-box .input-msg p {
    padding-bottom: 8px;
}

.czk-box .input-msg .in-num, .czk-box .input-msg .in-test {
    border: 1px solid #7F9DB9;
    padding: 2px 2px;
}

.czk-box .input-msg .in-num {
    width: 236px;
}

.czk-box .input-msg .in-test {
    width: 114px;
}

.czk-box .input-msg label {
    display: inline-block;
    width: 86px;
    text-align: right;
    font-weight: normal;
    color: #333;
}

.czk-box .input-msg img {
    vertical-align: top;
    border: 1px solid #C7CFDD;
}

.tip-czk-msg strong, .czk-box .sel-time .select strong {
    color: #7A4CAA;
    font-weight: bold;
}

.czk-box .sel-time strong {
    padding-left: 10px;
    font-weight: normal;
}

.tip-czk-msg {
    padding-bottom: 25px;
    padding-left: 100px;
    padding-top: 5px;
}

.tip-czk-msg p {
    line-height: 1.8;
}

.tip-czk-msg p label {
    cursor: default
}

.tip-czk-msg .tip-czk {
    color: #333333;
    padding: 3px 8px;
    background-color: #FFFFCC;
}

.tip-czk-msg .tip-czk span {
    float: left;
}

.closeMe {
    float: right;
}

.tip-czk-msg lable, .czk-box .input-msg label {
    cursor: default;
}

.msg-bank .yd-mobile {
    background-position: 370px -109px;
}

.msg-bank .zfb {
    background-position: 270px -159px;
}

.vb-box h4 {
    width: 157px;
    text-align: right;
}

.vb-box .btn-box {
    margin: 10px 0 0 157px
}

.vb-box form {
    padding-bottom: 15px;
    border-bottom: 1px solid #DDD;
}

.map-box {
    width: 465px;
    height: 375px;
    float: left;
}

.check-box {
    padding-top: 20px;
}

.vb-in {
    padding: 7px 0;
}

.vb-in label {
    float: left;
    text-align: right;
    width: 157px;
    cursor: default;
    color: #808080;
}

.vb-in input {
    border: 1px solid #B8D4E8;
    padding: 3px 2px;
    width: 190px;
    vertical-align: middle;
}

.msg-bank .vb {
    background-position: 345px -318px;
}

.main-bank label input {
    display: inline;
    float: left;
}

.main-bank label a {
    background: url(../../imgpro/pay/logo-bank.png) no-repeat 0 0;
    width: 115px;
    height: 20px;
    display: inline-block;
}

.memory-bank label {
    width: 180px;
}

.memory-bank label a {
    width: 150px;
}

.main-bank .icbc-img {
    background-position: 0 -26px;
}

.main-bank .abc-img {
    background-position: 0 -52px;
}

.main-bank .ccb-img {
    background-position: 0 -78px;
}

.main-bank .cmb-img {
    background-position: 0 0;
}

.main-bank .comm-img {
    background-position: 0 -105px;
}

.main-bank .spdb-img {
    background-position: 0 -213px;
}

.main-bank .boc-img {
    background-position: 0 -132px;
}

.main-bank .bccb-img {
    background-position: 0 -294px;
}

.main-bank .ceb-img {
    background-position: 0 -569px;
}

.main-bank .cmbc-img {
    background-position: 0 -160px;
}

.main-bank .cib-img {
    background-position: 0 -542px;
}

.main-bank .gdb-img {
    background-position: 0 -403px;
}

.main-bank .hxb-img {
    background-position: 0 -457px;
}

.main-bank .sdb-img {
    background-position: 0 -186px;
}

.main-bank .cbhb-img {
    background-position: 0 -266px;
}

.main-bank .shrcb-img {
    background-position: 0 -376px;
}

.btn-box-s {
    width: 90px;
    height: 22px;
    line-height: 20px;
}

.btn-box-s a {
    width: 89px;
    height: 21px;
    background-position: 65px -334px;
}

.about-msg {
    padding: 0px 15px;
    background-color: #F7F7F7;
    color: #888888;
    margin-top: 10px;
}

.about-msg li {
    background: url(../../images/vip/small.png) no-repeat 0 -392px;
    padding-left: 10px;
    line-height: 1.8;
}

.about-msg h4 {
    font-weight: normal;
    padding-bottom: 3px;
}

.msg-czk {
    margin-top: 6px;
}

.vb-msg {
    margin-top: 3px;
}

.suc-msg, .lost-msg-p {
    margin: 123px 0 96px;
    height: 108px;
    padding: 35px 0 0 322px;
    background: url(../../imgpro/pay/vip.png) no-repeat 155px -882px;
}

.lost-msg-p {
    background-position: 195px -692px;
    height: 75px;
    margin-top: 100px;
}

.suc-msg h4, .lost-msg-p h4 {
    line-height: 2;
}

.suc-msg p, .lost-msg-p p {
    color: #888;
    line-height: 2;
    padding-bottom: 4px;
}

.lost-msg-p .link-sev {
    background: url(../images/vip/small.png) no-repeat 2px -63px;
    padding-left: 15px;
    display: block;
}

.btn-box-b {
    width: 146px;
    height: 28px;
}

.btn-box-b {
    width: 146px;
    height: 28px;
    float: left;
}

.btn-box-b a {
    background-position: 124px -331px;
    height: 22px;
    padding-top: 5px;
    padding-top: 6px \9;
    _padding-top: 5px;
}

.suc-msg .check {
    height: 28px;
    line-height: 28px;
    margin-left: 22px;
}

.vip-show {
    border: 1px solid #CEE1EE;
    padding-bottom: 40px;
    position: relative;
    width: 958px;
    overflow: hidden;
}

.vip-show h3 {
    height: 30px;
    font-size: 14px;
    line-height: 30px;
    padding-left: 13px;
    background-color: #F0F5F8;
    color: #666666;
    margin-bottom: 30px;
}

.vip-show .more {
    position: absolute;
    right: 10px;
    top: 7px;
}

.vip-show ul {
    padding-left: 35px;
    width: 975px;
}

.vip-show li {
    width: 117px;
    margin-right: 45px;
    float: left;
    display: inline;
    background: url(../../imgpro/pay/vip1.png) no-repeat 0 0;
}

.vip-show li a {
    display: inline-block;
    padding-top: 90px;
    width: 78px;
    text-align: center;
}

.vip-show .show1 {
    background-position: 5px 0px;
}

.vip-show .show2 {
    background-position: 5px -110px;
}

.vip-show .show3 {
    background-position: 5px -220px;
}

.vip-show .show4 {
    background-position: 5px -330px;
}

.vip-show .show5 {
    background-position: 5px -440px;
}

.vip-show .show6 {
    background-position: 5px -550px;
}

.operate .vip-show {
    width: 760px;
    border: none;
}

.operate .vip-show h3 {
    background: none;
    border-top: 1px solid #DDDDDD;
}

.operate .vip-show li {
    margin-right: 5px;
}

.operate .suc-msg, .operate .lost-msg-p {
    margin-top: 50px;
    padding-left: 270px;
    background-position: 110px -882px;
}

.operate .lost-msg-p {
    padding-left: 220px;
    background-position: 130px -692px;
}

.main-ask {
    padding-left: 10px;
}

.ask-box, .suc-box {
    border: 1px solid #005EAC;
    background-color: #fff;
}

.ask-box {
    padding: 32px 120px 0 56px;
    height: 458px;
    width: 762px;
}

.suc-box {
    padding: 40px 30px 30px;
    height: 430px;
    width: 878px;
}

.ask-box .msg-bank {
    padding-bottom: 27px;
}

.ask-box .form-box {
    padding: 30px 150px 0
}

.input-msg-box {
    padding-top: 27px;
}

.input-msg-box label, .ask-box .pay-lbl {
    vertical-align: top;
    display: inline-block;
    padding-top: 2px;
    cursor: default;
    font-weight: bold;
    color: #666;
}

.input-msg-box textarea {
    width: 280px;
    height: 62px;
    border: 1px solid #;
    border: 1px solid #B8D4E8;
}

.ask-box .ask-tip {
    padding-left: 68px;
    color: #AAAAAA;
    line-height: 1.8;
}

.ask-box .btn-box-s {
    margin: 10px 0 0 68px
}

.suc-box p {
    padding: 70px 0;
    text-align: center;
    background: url(../../imgpro/pay/vip.png) no-repeat 222px -1129px;
    font-weight: bold;
    font-size: 14px;
}

.suc-box .other-choice {
    margin-top: 55px;
    padding: 34px 0 34px 60px;
    background-color: #F7F7F7;
    border: 1px solid #DDDDDD;
}

.suc-box .other-choice h4, .suc-box .other-choice li {
    line-height: 3;
}

.suc-box .other-choice h4 {
    font-weight: normal;
    color: #808080;
}

.suc-box .other-choice li {
    padding-left: 12px;
    background: url(../images/vip/small.png) no-repeat scroll 0 -384px;
}

.pop-confirm {
    padding: 5px 35px;
}

.pop-confirm h3 {
    height: 50px;
    line-height: 50px;
    font-size: 14px;
    font-weight: bold;
}

.order-msg {
    background-color: #F1EEFB;
    border: 1px solid #D2C8F0;
    padding: 20px 0 10px 35px
}

.order-msg h4, .order-msg ul, .lost-msg h4, .lost-msg ul {
    float: left;
}

.order-msg h4, .lost-msg h4 {
    font-weight: normal;
    color: #666666;
    padding-right: 10px;
}

.order-msg strong {
    color: #7A4CAA;
}

.order-msg li, .lost-msg li {
    padding-bottom: 10px;
}

.pop-confirm .contact-msg {
    padding-top: 20px;
    line-height: 1.6;
}

.pop-confirm .contact-msg span {
    background: url(../images/vip/small.png) no-repeat 2px -63px;
    padding-left: 15px;
    height: 15px;
    overflow: hidden;
    display: inline-block;
    margin-top: 5px;
}

.pop-lost h3 {
    height: 100px;
    line-height: 100px;
    padding-bottom: 18px;
    border-bottom: 1px solid #DDDDDD;
    font-weight: bold;
    padding-left: 144px;
    font-size: 14px;
    background: url(../../imgpro/pay/vip.png) no-repeat 56px -700px;
}

.lost-msg {
    padding: 30px 0 25px 30px
}

.qs-confirm {
    font-weight: bold;
    line-height: 1.6;
    padding: 35px 0 25px 105px;
    background: url(../../imgpro/pay/vip.png) no-repeat 36px -1313px;
    color: #666666;
}

.qs-confirm em {
    font-weight: bold;
    color: #7A4CAA;
}

.msg-qs {
    color: #AAAAAA;
    line-height: 1.5;
    text-align: center;
    padding-bottom: 28px;
}

.tip-msg-qs {
    height: 90px;
    line-height: 90px;
    background-color: #F7F7F7;
    border: 1px solid #E6E6E6;
    padding-left: 17px;
    color: #808080;
}

.lost-qs {
    line-height: 1.6;
    color: #AAAAAA;
    padding-left: 37px;
}

.pop-text {
    padding: 25px;
    line-height: 1.6;
}

.tac {
    text-align: center;
}

#payMfs, #reqMfs {
    display: inline-block;
}

#payMfs .input-text, #reqMfs .input-text {
    width: 280px;
}

.m-autosug ul li {
    width: 88px;
}

.sel-yhlb .pay-lbl {
    display: inline-block;
    width: 104px;
    text-align: right;
    color: #808080;
    font-weight: bold;
}

.sel-yhlb {
    margin-bottom: 20px;
}

.sel-yhlb .xz-yhlb {
    margin-right: 6px;
}

.sel-yhlb em {
    color: red;
}

.sel-yhlb strong {
    color: #7A4CAA;
    margin: 5px;
}

.dsy .main-tab {
    padding-left: 10px;
}

.dsy .main-tab li {
    float: left;
    background: #7D9FE6 url(../../imgpro/pay/dsy.png) no-repeat 0 -25px;
    padding-left: 5px;
    height: 28px;
    line-height: 28px;
    margin: 0 4px -1px 0;
    display: inline;
    position: relative;
    font-size: 14px;
}

.dsy .main-tab li a {
    display: block;
    background: url(../../imgpro/pay/dsy.png) no-repeat 100% -25px;
    padding: 0 20px 0 15px;
    outline: none;
    color: #fff;
}

.dsy .main-tab li a {
    blr: expression(this.onFocus=this.blur());
}

.dsy .main-tab .current {
    background-color: #E6EEFF;
    background-position: 0 -53px;
}

.dsy .main-tab .current a:link, .dsy .main-tab .current a:visited, .dsy .main-tab .current a:hover, .dsy .main-tab .current a:active {
    background-position: 100% -53px;
    color: #000;
}

.dsy .main-pay {
    padding: 10px;
    background-color: #E6EEFF;
    padding-left: 0px;
    _padding-right: 7px;
    border-bottom: 1px solid #B8D4E8;
}

.dsy .msg-tip {
    background-color: #FFF9DF;
    border: 1px solid #F3DDAC;
    color: #333;
    padding: 3px 8px;
    width: 742px;
    position: relative;
}

.dsy .order-msg {
    background-color: #FFF9DF;
    border: 1px solid #F3DDAC;
    padding: 20px 0 10px 35px
}

.dsy .msg-bank {
    padding: 20px 0 20px 0;
    border-bottom: 1px solid #DDDDDD;
}

.dsy .msg-bank h3 {
    height: 30px;
    line-height: 30px;
    font-size: 14px;
    font-weight: bold;
    padding-left: 60px;
    background: url(../images/vip/pay_way.png) no-repeat -200 0;
}

.dsy .msg-bank ul {
    margin-top: 5px;
    margin-left: 60px;
}

.dsy .msg-bank .net-bank {
    background-position: 345px 0;
}

.dsy .msg-bank .yd-mobile {
    background-position: 374px -109px;
}

.dsy .msg-bank .current {
    background: url(../../imgpro/pay/dsy.png) no-repeat 100% 0;
}

.dsy .msg-bank .current span {
    background-color: #FFF8BC;
    border: 1px solid #EBCC8A;
    border-right: none;
    color: #5D78D2;
}

.dsy .sel-yhlb .pay-lbl {
    display: inline-block;
    width: 104px;
    text-align: right;
    color: #808080;
    font-weight: bold;
}

.dsy .sel-yhlb {
    margin-bottom: 20px;
}

.dsy .sel-yhlb .xz-yhlb {
    margin-right: 6px;
}

.dsy .sel-yhlb em {
    color: red;
}

.dsy .sel-yhlb strong {
    color: #7A4CAA;
    margin: 5px;
}

.dsy .btn-box {
    background-color: #5D78D2;
    border: 1px solid #4455BD;
    text-align: center;
}

.dsy .btn-box a {
    display: block;
    border-top: 1px solid #919DF1;
    border-left: 1px solid #919DF1;
    background: url(../../imgpro/pay/xjt.png) no-repeat 70px center;
}

.dsy .suc-msg {
    background: url(../../imgpro/pay/dsn.png) 160px -10px no-repeat;
}

.dsy .lost-msg-p {
    background: url(../../imgpro/pay/dsn.png) 170px -260px no-repeat;
    height: 100px;
}

.dsy .suc-msg h4, .dsy .lost-msg-p h4 {
    font-size: 14px;
}

.dsy .suc-msg .btn-box-b {
    width: 95px;
    margin-left: 60px;
}

.dsy .suc-msg .btn-box a {
    background-position: 80px 9px;
}

.dsy .vip-show li {
    background: url(../../imgpro/pay/vip-dsn2.png) no-repeat;
}

.dsy .vip-show .show1 {
    background-position: 2px 5px;
}

.dsy .vip-show .show2 {
    background-position: 2px -112px;
}

.dsy .vip-show .show3 {
    background-position: -10px -230px;
}

.dsy .vip-show .show4 {
    background-position: -3px -346px;
}

.dsy .vip-show .show5 {
    background-position: -2px -469px;
}

.dsy .vip-show .show6 {
    background-position: -9px -582px;
}

.dsy .vip-show .show6 a {
    width: 85px;
}

.dsy .pop-lost h3 {
    background: url(../../imgpro/pay/dsn.png) 30px -520px no-repeat;
}

.dsy .main-tab-div .main-tab-r span {
    background: url(../../imgpro/pay/vip_icon.gif) 2px 4px no-repeat;
}

.gift .pop-lost h3 {
    background: url(../../imgpro/pay/gift_2.png) 30px -520px no-repeat;
}

.btn-box-s2 {
    margin: 10px 0 0 92px;
    height: 22px;
    line-height: 20px;
    width: 112px;
}

.btn-box-s2 a {
    background-position: 95px -334px;
    height: 21px;
    width: 111px;
}

.caixing {
    background-color: #F8F8F8;
    margin: 10px 0;
    padding: 10px;
    width: 400px;
}

.caixing p {
    line-height: 1.8;
    padding: 0;
    text-align: left;
}

.caixing p label {
    width: 96px;
    text-align: left;
}

.sendmail {
    font-size: 14px;
    font-weight: bold;
    margin: 20px 0 30px;
    padding: 0 0 0 10px;
}

.sendmail em {
    color: #E40909;
    padding: 3px;
    font-weight: bold;
}

.caixinnav1 {
    background: url('../../imgpro/pay/pay_nav2.png') no-repeat 0 0;
    height: 25px;
    width: 343px;
    margin-top: 5px;
}

.caixinnav2 {
    background: url('../../imgpro/pay/pay_nav2.png') no-repeat 0 -25px;
    height: 25px;
    width: 343px;
    margin-top: 5px;
}

.caixinnav3 {
    background: url('../../imgpro/pay/pay_nav2.png') no-repeat 0 -50px;
    height: 25px;
    width: 343px;
    margin-top: 5px;
}

.about-msg .caixin_btip .shishang {
    color: #009900;
}

.about-msg .caixin_btip em {
    color: #FF6600;
}

.msg-bank {
    padding-top: 10px;
}

.youke-tag {
    padding: 20px 0 0px 54px;
}

#youke-tag-content li {
    float: left;
    margin-right: 2px;
}

#youke-tag-content li.selected a {
    background-color: #4B84C4;
    border: 1px solid #005EAC;
    color: #FFFFFF;
    font-weight: bold;
}

#youke-tag-content li a {
    display: block;
    padding: 4px 10px 4px;
}

.youke-next1 {
    display: none;
}

.form-box .originalPrice {
    text-decoration: line-through;
    margin: 0 10px;
    color: #e83928;
    font-family: Lucida Console;
}

.form-box .pay-hot {
    width: 20px;
    height: 9px;
    border: none;
}

#newPrice {
    font-weight: bold;
    font-family: Lucida Console;
}

.font_red {
    color: #f00;
}

.dx-box .code_tip {
    display: none;
    color: #f00;
}