.guide-find-friends {
    height: 310px;
    border: 1px solid #e1dfdf;
    border-radius: 2px;
    box-shadow: 0 1px 1px #CCC;
    margin-bottom: 20px;
    background: #FFF
}

.gff-left-side {
    float: left;
    padding-top: 10px;
    height: 300px;
    width: 146px;
    background: #52b3ff
}

.stage-select-a {
    display: block;
    height: 50px;
    width: 146px;
    line-height: 50px;
    color: #bee2ff;
    font-size: 14px
}

.stage-select-a .stage-name {
    display: block;
    padding-left: 53px;
    background: url('../images/stage-tab-icons.png') no-repeat
}

.tabSelected {
    background: url('../images/stage-tab-arrow.png') no-repeat right center #40a0eb;
    color: #FFF
}

.tabSelected .stage-name {
    background: url('../images/stage-tabH-icons.png') no-repeat 18px top
}

.stage-select-a .univspan {
    background-position: 18px -50px
}

.stage-select-a .highspan {
    background-position: 18px -100px
}

.stage-select-a .midspan {
    background-position: 18px -150px
}

.stage-select-a .workspan {
    background-position: 18px 0
}

.stage-fill-info {
    float: left;
    margin-top: 53px;
    padding-left: 18px;
    height: 36px;
    line-height: 36px;
    font-size: 14px;
    color: #FFF
}

.gff-right-con {
    float: left;
    height: 310px;
    width: 354px;
    position: relative
}

.gff-right-con .gff-stageCon {
    display: none;
    float: left;
    height: 310px;
    width: 354px
}

.gff-right-con .conSelected {
    display: block
}

.gff-sub-stageCon1 {
    display: none;
    float: left;
    padding-left: 30px;
    overflow: hidden
}

.gff-sub-stageCon1 .gff-con-column {
    float: left;
    width: 100%;
    padding-bottom: 17px
}

.gff-con-column label {
    float: left;
    font-size: 14px;
    color: #666;
    width: 55px;
    height: 32px;
    line-height: 32px
}

.gff-con-column .input-out {
    float: left;
    padding: 3px 10px;
    width: 220px;
    height: 25px;
    border: 1px solid #9cc6e8;
    border-radius: 2px;
    box-shadow: 0 0 5px #d8eaf8
}

.gff-con-column .input-out .input-txt {
    border: 0;
    outline: 0;
    width: 220px;
    height: 25px;
    line-height: 24px;
    font-size: 14px;
    color: #aaa
}

.gff-con-column .input-select {
    padding: 5px 0;
    width: 115px;
    color: #aaa;
    border: 1px solid #9cc6e8;
    border-radius: 3px;
    outline: 0
}

.gff-con-column .gff-vertify-error {
    border: 1px solid #f00
}

.gff-con-column .gffSelect2 {
    width: 238px
}

.gff-con-column .input-select option {
    color: #aaa
}

.gff-con-column .search-frds {
    float: left;
    width: 115px;
    height: 40px;
    line-height: 40px;
    font-size: 14px;
    color: #FFF;
    text-align: center;
    background: #4296d9;
    border: 1px solid #418bc4;
    border-radius: 2px;
    box-shadow: 0 1px 1px #e5e5e5
}

.gff-sub-column {
    float: left;
    padding-bottom: 10px;
    overflow: hidden
}

.subcolumn2 {
    margin-left: 55px
}

.highclass-label {
    float: left;
    font-size: 14px;
    color: #666;
    width: 40px;
    height: 32px;
    line-height: 32px
}

.highclass-input {
    float: left;
    padding: 3px 6px 3px 3px;
    border: 1px solid #c0c7cd;
    border-radius: 2px;
    font-size: 14px;
    line-height: 24px;
    margin-right: 20px;
    overflow: hidden
}

.highclass-input-txt {
    float: left;
    height: 25px;
    width: 42px;
    text-align: center;
    border: 0;
    outline: 0
}

.highclass-span {
    float: left;
    padding-left: 3px
}

.input-select-con {
    float: left;
    padding-right: 10px;
    overflow: hidden
}

.gff-vertify-tip {
    display: block;
    position: absolute;
    height: 28px;
    font-size: 14px;
    line-height: 28px;
    color: #f00;
    text-align: center;
    background: #ffe3d6
}

.gff-sub-stageCon2 {
    display: none;
    float: left;
    padding: 5px 0 5px 3px;
    width: 352px;
    height: 300px;
    overflow: hidden;
    position: relative
}

.gff-sub-stageCon2 .gff-friends-list {
    float: left;
    width: 340px;
    overflow: hidden
}

.gff-friends-list .list-item {
    float: left;
    margin: 10px 0 0 10px;
    width: 152px;
    height: 50px;
    padding: 2px 0 2px 2px;
    border: 3px solid #FFF;
    cursor: pointer
}

.gff-friends-list .list-item .frd-thumb {
    float: left;
    width: 50px;
    height: 50px
}

.gff-friends-list .list-item .frd-name {
    float: left;
    padding-left: 8px;
    width: 84px;
    height: 28px;
    line-height: 22px;
    font-size: 14px;
    color: #333;
    white-space: nowrap;
    overflow: hidden
}

.gff-friends-list .list-item .frd-add {
    float: left;
    height: 22px;
    padding-left: 30px;
    width: 70px;
    line-height: 20px;
    font-size: 14px;
    color: #8f8f8f;
    background: url('../images/gff-addfrd-icon.png') no-repeat;
    background-position: 10px 0
}

.gff-friends-list .add-already .frd-add, .gff-friends-list .add-already .frd-name {
    color: #FFF
}

.gff-friends-list .add-already .frd-add {
    background-position: 10px -22px
}

.list-item .frd-thumb img {
    float: left;
    width: 50px;
    height: 50px
}

.gff-friends-list .item-hover {
    border-color: #DDD
}

.gff-friends-list .add-already {
    border-color: #80b865;
    background: #80b865
}

.gff-right-con .univ .gff-sub-stageCon1 {
    padding-top: 52px;
    height: 258px;
    background: url('../images/univ-con-bg.png') no-repeat right bottom
}

.gff-right-con .high .gff-sub-stageCon1 {
    padding-top: 32px;
    height: 278px;
    background: url('../images/high-con-bg.png') no-repeat right bottom
}

.gff-right-con .mid .gff-sub-stageCon1 {
    padding-top: 75px;
    height: 235px;
    background: url('../images/mid-con-bg.png') no-repeat right bottom
}

.gff-right-con .work .gff-sub-stageCon1 {
    padding-top: 75px;
    height: 235px;
    background: url('../images/work-con-bg.png') no-repeat right bottom
}

.gff-err-tip {
    position: absolute;
    overflow: hidden
}

.gff-err-tip .err-tip-msg {
    display: block;
    padding: 0 5px;
    text-align: center;
    height: 33px;
    line-height: 32px;
    background: #ffe3d6;
    font-size: 12px;
    color: #f00
}

.gff-dialog-alert {
    line-height: 36px
}

.gff-loading {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -50px 0 0 -50px
}

.gff-no-friend {
    float: left;
    margin-top: 78px;
    overflow: hidden
}

.gff-no-friend .no-frd-column {
    padding: 5px 48px;
    line-height: 24px;
    font-size: 16px;
    color: #666;
    overflow: hidden
}

.gff-back-step1 {
    float: left;
    width: 90px;
    height: 38px;
    line-height: 38px;
    text-align: center;
    border: 1px solid #418bc4;
    background: #58a5e0;
    border-radius: 2px;
    color: #FFF;
    box-shadow: 0 1px 1px #e5e5e5
}

.gff-vertify-con {
    border: 1px solid #e1dfdf;
    border-radius: 2px;
    box-shadow: 0 1px 1px #CCC;
    margin-bottom: 20px;
    background: #FFF
}

.gff-mail-vertify, .gff-mobile-vertify {
    padding: 16px 42px 0 42px;
    height: 142px;
    overflow: hidden
}

.gff-mail-vertify {
    border-bottom: 1px solid #42a82d;
    background: url('../images/gff-mail-vertifyBg.png') no-repeat right bottom #68c056
}

.gff-mobile-vertify {
    background: url('../images/gff-mobile-vertifyBg.png') no-repeat right bottom #56c0b0
}

.gff-vertify-title {
    height: 42px;
    line-height: 42px;
    font-size: 30px;
    font-weight: normal;
    color: #FFF
}

.gff-vertify-con .gff-vertify-main {
    display: none;
    overflow: hidden
}

.gff-vertify-con .activeStep {
    display: block
}

.gff-vertify-info {
    line-height: 32px;
    font-size: 14px;
    color: #FFF
}

.gff-new-mail {
    margin-top: 5px;
    padding: 3px 10px;
    width: 280px;
    height: 22px;
    border: 1px solid #459b34;
    border-radius: 1px;
    background: #FFF;
    box-shadow: 0 0 5px #5fb871
}

.gff-new-mail input {
    width: 280px;
    height: 22px;
    line-height: 22px;
    font-size: 14px;
    color: #aaa;
    border: 0;
    outline: 0
}

.gff-ver-bom {
    padding-top: 10px;
    overflow: hidden
}

.gff-ver-bom .gff-btn-type {
    float: left;
    padding: 0 10px;
    margin-right: 20px;
    height: 28px;
    line-height: 28px;
    font-size: 14px;
    background: #f9f9f9;
    color: #686f7c;
    border: 1px solid #a7acb5;
    border-radius: 2px
}

.gff-ver-bom .gff-btn-type:hover {
    border-color: #727986;
    background: #fafafa;
    box-shadow: 0 1px 1px #c7cacc
}

.gff-ver-bom .gff-link-type {
    float: left;
    margin-right: 20px;
    font-size: 14px;
    line-height: 30px;
    color: #2d731e
}

.gff-ver-bom .gff-link-type:hover {
    text-decoration: underline
}

.gff-mobile-win .ui-widget-content {
    padding: 0;
    overflow: hidden
}

.gff-mobile-win .ui-widget-header {
    padding: 20px 30px 0 30px
}

.gff-mobile-step1 {
    width: 500px;
    background: #FFF;
    overflow: hidden
}

.gff-mobile-step2 {
    padding: 60px 30px 0 30px;
    background: #f8f8f8;
    height: 245px
}

.gff-mobile-step2 .mobile-step2-con {
    font-size: 18px;
    line-height: 30px;
    color: #333
}

.gff-mobile-step1 .gff-mobile-con {
    padding: 30px 0 5px 0;
    background: #f8f8f8;
    overflow: hidden
}

.gff-mobile-con .mobile-con-column {
    padding: 0 0 12px 30px;
    overflow: hidden
}

.mobile-con-column label {
    float: left;
    display: block;
    width: 120px;
    padding-right: 3px;
    text-align: right;
    font-size: 14px;
    line-height: 32px
}

.mobile-con-column input {
    float: left;
    padding: 3px 5px;
    height: 28px;
    line-height: 28px;
    border: 1px solid #9cc6e8;
    outline: 0;
    border-radius: 2px;
    box-shadow: 0 0 5px #d8eaf8
}

.mobile-con-column .mobile-long-txt {
    width: 230px
}

.mobile-con-column .mobile-short-txt {
    width: 120px
}

.mobile-con-column .gff-send-mobileVer {
    float: left;
    margin-left: 10px;
    padding: 0 10px;
    height: 32px;
    text-align: center;
    line-height: 32px;
    font-size: 14px;
    color: #686f7c;
    background: #fcfcfc;
    border: 1px solid #c7c7c7;
    border-radius: 2px;
    box-shadow: 0 1px 1px #ebebeb
}

.mobile-con-column .send-ok {
    background: #4196d9;
    border-color: #418bc4;
    color: #FFF
}

.mobile-con-column .gff-mobile-canCommit {
    background: #4196d9;
    border-color: #418bc4;
    color: #FFF
}

.gff-commit-mobind {
    float: left;
    margin-top: 8px;
    width: 96px;
    height: 28px;
    line-height: 28px;
    text-align: center;
    font-size: 14px;
    color: #686f7c;
    background: #fcfcfc;
    border: 1px solid #c7c7c7;
    border-radius: 2px;
    box-shadow: 0 1px 1px #ebebeb
}

.gff-mobile-step1 .gff-mobile-bom {
    padding: 20px 30px
}

.gff-mobile-bom p {
    line-height: 28px;
    font-size: 12px;
    color: #666
}

.mobile-terminal-con {
    float: left;
    width: 240px;
    background: #fff;
    border: 1px solid #e1dfdf;
    border-radius: 2px;
    box-shadow: 0 1px 1px #ccc;
    margin-bottom: 15px;
    overflow: hidden
}

.mobile-terminal-con img {
    float: left
}

.double-cols-feed .gff-left-side {
    width: 85px
}

.double-cols-feed .stage-select-a {
    line-height: 30px;
    height: 65px;
    width: 85px
}

.double-cols-feed .stage-select-a .stage-name {
    display: block;
    padding-left: 0;
    padding-top: 30px;
    text-align: center;
    height: 30px
}

.double-cols-feed .stage-select-a .univspan {
    background-position: center -54px
}

.double-cols-feed .stage-select-a .highspan {
    background-position: center -104px
}

.double-cols-feed .stage-select-a .midspan {
    background-position: center -154px
}

.double-cols-feed .stage-select-a .workspan {
    background-position: center -4px
}

.double-cols-feed .stage-fill-info {
    float: left;
    margin-top: 0;
    padding-left: 0;
    text-align: center;
    font-size: 14px;
    color: #bee2ff;
    cursor: pointer
}

#right-fix-info .photopast {
    float: left
}