<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>主要内容区main</title>
    <script type="text/javascript" src="__PUBLIC__/Admin/js/jquery-1.11.3.js"></script>
    <script type="text/javascript" src="__PUBLIC__/Admin/js/layer/layer.js"></script>
    <link href="__PUBLIC__/Admin/css/css.css" type="text/css" rel="stylesheet"/>
    <link href="__PUBLIC__/Admin/css/main.css" type="text/css" rel="stylesheet"/>
    <link href="__PUBLIC__/Admin/css/mainselect.css" type="text/css" rel="stylesheet"/>
    <link href="__PUBLIC__/Admin/css/page.css" type="text/css" rel="stylesheet"/>
</head>
<body>
<!--main_top-->
<table width="99%" border="0" cellspacing="0" cellpadding="0" id="searchmain">
    <tr>
        <td width="99%" align="left" valign="top">您的位置：心情信息</td>
    </tr>
    <tr>
        <td align="left" valign="top">
            <table width="100%" border="0" cellspacing="0" cellpadding="0" id="search">
                <tr>
                    <td width="90%" align="left" valign="middle">
                        <form method="post" action="__URL__/mood">
                            <span>管理员：</span>
                            <input type="text" name="userInformation" value="" class="text-word">
                            <input name="" type="submit" value="查询" class="text-but"><span>按编号查询</span>
                        </form>
                    </td>


                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td align="left" valign="top">
            <table width="100%" border="0" cellspacing="0" cellpadding="0" id="main-tab">
                <tr>
                    <th align="center" valign="middle" class="borderright">编号</th>
                    <th align="center" valign="middle" class="borderright">用户编号</th>
                    <th align="center" valign="middle" class="borderright">内容</th>
                    <th align="center" valign="middle" class="borderright">图片</th>
                    <th align="center" valign="middle" class="borderright">创建时间</th>
                </tr>
                <volist name="list" id="row">
                    <tr onMouseOut="this.style.backgroundColor='#ffffff'" onMouseOver="this.style.backgroundColor='#edf5ff'">
                        <td align='center' valign='middle' class='borderright'>{$row['id']}</td>
                        <td align='center' valign='middle' class='borderright'>{$row['uid']}</td>
                        <td align='center' valign='middle' class='borderright'>{$row['content']}</td>
                        <td align='center' valign='middle' class='borderright'>
                            <if condition="$row.picpath eq 1">
                                无
                            </if>
                            <if condition="$row.picpath neq 1">
                                <img width="50" height="50" src="__PUBLIC__/Uploads/{$row.picpath}">
                            </if>
                        </td>
                        <td align='center' valign='middle' class='borderright'>{$row['addtime']}</td>
                    </tr>
                </volist>
            </table>
        </td>
    </tr>
    <tr>
        <td class="Pagination">{$page}</td>

    </tr>
</table>

</body>
<script>

</script>
</html>