<div class='content_div'>
    <center>
        <form id="updateAssignUser" method="post" enctype="multipart/form-data">
            <table class="content_tab" cellpadding="5" cellspacing="0" border='0' style="margin-top: 20px;">
                <tbody>
                <tr>
                    <td>
                        会员邮箱：
                    </td>
                    <td><input name='user_email' class="easyui-textbox" required="required"
                               value="{$user['user_email']}"/>
                    </td>
                    </td>
                </tr>
                <tr>
                    <td>
                        电话：
                    </td>
                    <td><input class="easyui-textbox"  required="required"
                               name="user_tel" value="{$user['user_tel']}"/>
                    </td>
                </tr>
                <tr>
                    <td>

                    </td>
                    <input type="hidden" value="{$user['user_id']}" name="user_id">
                </tr>
                </tbody>
            </table>

        </form>
    </center>
</div>