<table id='bt_dept_select_user_table' class="bt_dept_select_user_table"  data-options="toolbar:'#bt_dept_select_user_toolbar'"></table>
<div id="bt_dept_select_user_toolbar">
    <form id='bt_dept_select_user_search'>
        <label>姓名：</label>
        <input type="text" name="Q_realname"/>
        <label>手机：</label>
        <input type="text" name="Q_phone"/> <label><a href="javascript:void(0)" class="easyui-linkbutton" class='dept_adduser_search' onclick='search_adduser();'iconCls="icon-search" plain="true">搜索</a></label>
        <input type='hidden' name='dept_id' value='<{$dept_id}>' />
        <input type='hidden' name='action' value='userList' />
    </form>
</div>
<script type="text/javascript">
    function search_adduser(){
        //搜索
        var $grid = $('.bt_dept_select_user_table');
        var $form = $('#bt_dept_select_user_search');
        if($form.form('validate')) {
            $grid.datagrid('load',$form.toJson());
        }
    }

    NameSpace("BT.dept.chooseuser", function() {
        var context = this;
        var $grid = $('.bt_dept_select_user_table');
        context.ready = function() {
            $grid.datagrid({
                fit: true,
                border: false,
                pagination: true,
                idField: 'id', //设定id列，以此支持翻页后能保存之前页的选中项
                columns: [[
                    {field: 'id',checkbox: true},
                    {field: 'username', title: '账号', width: 150},
                    {field: 'realname', title: '姓名', width: 150},
                    {field: 'mail', title: '邮箱', width: 100},
                    {field: 'phone', title: '手机', width: 100},
                ]]
            });
        };

    });
</script>
