<!DOCTYPE html>
<html class="nx-main860">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>人人网</title>
    <meta charset="utf-8">
    <script type="text/javascript" src="__PUBLIC__/Home/js/jquery-1.11.3.js"></script>
    <script src="__PUBLIC__/Home/js/layer.js"></script>
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/base.css">
    <link href="./Public/css/global2-all-min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/profile-all-min.css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/publisher-all-min.css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/profile.css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/index-all-min.css" media="all">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/style.css">
    <style>
        .pagelist{ text-align:center; background:#f1f1f1; padding:7px 0;}
        .pagelist a{ margin:0 5px; border:#6185a2 solid 1px; display:inline-block; padding:2px 6px 1px; line-height:16px; background:#fff; color:#6185a2;}
        .pagelist span{ margin:0 5px; border:#6185a2 solid 1px; display:inline-block; padding:2px 6px 1px; line-height:16px; color:#6185a2; color:#fff; background:#6185a2;}

    </style>
</head>
<body>
<div id="nxHeader" class="hd-wraper ">
    <div class="hd-fixed-wraper clearfix">
        <div class="hd-main">
            <h1 class="hd-logo">
                <a href="#" >人人网</a>
            </h1>
            <div class="hd-nav clearfix">
                <div class="hd-search">
                    <input type="text" id="hd-search" class="hd-search-input" placeholder="搜索好友，公共主页，状态" />
                    <a href="javascript:;" class="hd-search-btn"></a>
                </div>
                <dl class="hd-account clearfix">
                    <dt>
                        <a href="">
                            <img class="hd-avatar" width="30" height="30" src="__PUBLIC__/Uploads/{$Think.session.headphoto}" />
                        </a>
                    </dt>
                    <dd>
                        <a class="hd-name" href="##">{$Think.session.name}</a>
                        <a class="hd-name" href="##">{$Think.session.level}级</a>
                    </dd>
                </dl>

                <div class="hd-account-action hd-account-action-vip" >
                    <if condition="$Think.session.status eq 2">
                        <img src='__PUBLIC__/Home/images/vip.png'>
                    </if>
                </div>


            </div>

        </div>

    </div>

</div>
<div class="nx-wraper clearfix">
    <div class="nx-sidebar">
        <div id="nxSlidebar" class="slide-fixed-wraper clearfix">
            <div class="app-nav-wrap">
                <div class="app-nav-cont">
                    <ul class="app-nav-list">
                        <li class="app-nav-item app-nav-item-cur app-feed"><a class="app-link" href="__URL__/homepage"><img class="app-icon" width="32" height="32" src="__PUBLIC__/Home/images/a.gif"/><span >首页</span></a></li>
                        <li class="app-nav-item app-homepage" ><a class="app-link" href="__URL__/personpage"><img class="app-icon" width="32" height="32" src="__PUBLIC__/Home/images/a.gif"/><span >主页</span></a></li>
                        <li class="app-nav-item app-album" ><a class="app-link" href="#"><img class="app-icon" width="32" height="32" src="__PUBLIC__/Home/images/a.gif"/><span >相册</span></a></li>
                    </ul>
                </div>
                </ul>
            </div>

        </div>
    </div>
</div>


<div class="bd-container ">
    <div class="frame-nav-wrap">
        <div id="frameFixedNav" class="frame-nav-fixed-wraper">
            <div class="frame-nav-inner">
                <ul class="fd-nav-list clearfix">
                    <li class="fd-nav-item fd-nav-cur-item">
                        <span class="fd-nav-icon fd-sub-nav"></span>
                        <a href="__URL__/personpage">我的主页</a></li>
                    <li class="fd-nav-item">
                        <a href="__URL__/photo">相册</a>
                    </li>
                    <li class="fd-nav-item">
                        <a href="__URL__/mood">状态</a>
                    </li>
                    <li class="fd-nav-item">
                        <a href="#">日志</a></li>
                    <li class="fd-nav-item">
                        <a href="__URL__/msgbox">收件箱</a></li>

                </ul>
            </div>
        </div>
    </div>


            <div class="bd-main">
                <div class="bd-content clearfix">
                    <div id="profile_wrapper">
                        <div class="top-attach clearfix" id="top-attach"></div>
                        <div id="timeline_wrapper">
                            <div id="cover">

                                <div style="width:860px;height:500px;background:#ffffff;margin-top:30px;">

                                    <table>
                                        <tr align="center">
                                            <td width="180px" height="50px">时间</td><td width="80px">标题</td><td width="540px">内容</td><td width="80px">操作</td>
                                        </tr>

                                        <foreach name="list" item="vo">
                                            <tr align="center" height="80px">
                                                <td>{$vo.addtime}</td>
                                                <td>{$vo.title}</td>
                                                <td>{$vo.content|htmlspecialchars_decode|stripslashes}</td>
                                                <td><a onclick="delselect(this)" uid="{$vo.id}" href="javascript:void(0)">删除</a></td>
                                            </tr>
                                        </foreach>

                                    </table>
                                    <div class="pagelist">{$page}</div>


                                </div>



                            </div>

                        </div>
                        <form action="__URL__/deledaily" id="f0" method="post" style="display:none;">
                            <input type="text" value="" name="msgid" id="delselect">
                            <input type="submit">
                        </form>



                    </div>


                </div>




                <div class="ft-wrapper clearfix" style="position: relative; top: 0px; width: 860px;">

                    <p>
                        <strong>玩转啪啪</strong>
                        <a href="#" target="_blank">公共主页</a>
                        <a href="#" target="_blank">公众平台</a>
                        <a href="#" target="_blank">客服帮助</a>
                        <a href="#" target="_blank">隐私</a>
                    </p>

                    <p>
                        <strong>商务合作</strong>
                        <a href="#" target="_blank">品牌营销</a>
                        <a href="#" class="l-2" target="_blank">中小企业<br />自助广告</a>
                        <a href="#" target="_blank">开放平台</a>
                    </p>

                    <p>
                        <strong>公司信息</strong>
                        <a href="#" target="_blank">关于我们</a>
                        <a href="#" target="_blank">啪啪公益</a>
                        <a href="#" target="_blank">招聘</a>
                        <a href="#" id="lawInfo">法律声明</a>
                    </p>

                    <p>
                        <strong>友情链接</strong>
                        <a href="#" target="_blank">啪啪分期</a>
                        <a href="#" target="_blank">啪啪理财</a>
                        <a href="#" target="_blank">我秀</a>
                        <a href="#" target="_blank">注册局</a>
                    </p>

                    <p>
                        <strong>啪啪移动客户端下载</strong>
                        <a href="#" target="_blank">iPhone/Android</a>
                        <a href="#" target="_blank">iPad客户端</a>
                        <a href="#" target="_blank">其他产品</a>
                    </p>


                    <p class="copyright-info" style="margi-left: -20px">
                        <span>公司全称：郑州景科技发展有限公司</span>
                        <span>公司电话：0371-88888888</span>
                        <span><a href="#">公司邮箱：admin@papa.com</a></span>
                        <span>公司地址：郑州市高新区<br>河南商务产业园</span>
                        <span>违法和不良信息举报电话：027-87676735</span>
                        <span></span>
                        <span><a href="#" target="_blank">京ICP证090254号</a></span>
                        <span>人人网&copy;2016</span>
                    </p>

                </div>
            </div>
        </div>
    </div>



</body>
</html>

<script>
    function delselect(ob) {
        var uid = $(ob).attr('uid');
        $('#delselect').attr('value',uid);
        $('#f0').submit()
    }



</script>
